---
import Layout from "../layouts/Layout.astro";
import EarlyAccessForm from "../components/EarlyAccessForm.astro";
import Card from "../components/Card.astro";
import { PlayerForm } from "../components/PlayerForm";
import Note from "../components/Note.astro";
import CustomerQuote from "../components/CustomerQuote.astro";

import DndLogo from "../assets/logos/dnd.svg";
import PathfinderLogo from "../assets/logos/pathfinder.svg";
import ShadowrunLogo from "../assets/logos/shadowrun.svg";
import CriticalRoleLogo from "../assets/logos/critical-role.svg";
import VampireLogo from "../assets/logos/vampire.svg";
import SummarizeNote from "../assets/summarize.webp";
import GMNotes from "../assets/gm-notes.webp";
import CharacterTracking from "../assets/character-tracking.webp";
import Dashboard from "../assets/dashboard.webp";
import Timer from "../assets/mgc/timer.webp";
import GroupData from "../assets/mgc/group-data.webp";
import PushNotify from "../assets/mgc/push-notify.webp";
---

<Layout title="Nurl, we make playing TTRPGs easy">
  <main class="container">
    <section class="feature-section">
      <h1>Making tabletop roleplay games easy.</h1>
      <p class="headline-support">
        Explore a new way to play with a user-friendly app designed for both new
        and experienced players, ensuring an inclusive gaming experience.
      </p>
      <EarlyAccessForm />
    </section>
  </main>

  <section class="section-logos">
    <p>If it's a TTRPG - we support it</p>
    <ul>
      <li class="dnd">
        <img
          {...DndLogo}
          alt="Dungeons & Dragons"
          loading="lazy"
          decoding="async"
        />
      </li>
      <li class="pathfinder">
        <img
          {...PathfinderLogo}
          alt="Pathfinder"
          loading="lazy"
          decoding="async"
        />
      </li>
      <li class="vampire">
        <img
          {...VampireLogo}
          alt="Vampire: The Masquerade"
          loading="lazy"
          decoding="async"
        />
      </li>
      <li class="shadowrun">
        <img
          {...ShadowrunLogo}
          alt="Shadowrun"
          loading="lazy"
          decoding="async"
        />
      </li>
      <li class="critical-role">
        <img
          {...CriticalRoleLogo}
          alt="Critical Role"
          loading="lazy"
          decoding="async"
        />
      </li>
    </ul>
  </section>

  <section class="section-customer-quotes">
    <ul>
      <li>
        <CustomerQuote
          quote="As a new player, Nurl has been especially helpful in guiding me through building out my character and leveling up. It even makes spells easy!"
          author="Stephanie"
          player="Player"
          tag="D&D"
          years="2"
        />
      </li>
      <li>
        <CustomerQuote
          quote="Just having a place to keep group specific chat and collaborative campaign notes has been supremely useful."
          author="Andy"
          player="Player"
          tag="TTRPG"
          years="20"
        />
      </li>
    </ul>
  </section>

  <section class="section-spotlight section-intuitive">
    <div>
      <h3>Intuitive and Functional</h3>
      <p>
        Our realtime group dashboard helps you get all the information you need
        without causing your brain to "crit fail".
      </p>
    </div>
    <picture>
      <img
        {...Dashboard}
        alt="Nurl dashboard"
        loading="lazy"
        decoding="async"
      />
    </picture>
    <small>All the tools you need in one magical place.</small>
  </section>

  <section class="section-spotlight-nuro">
    <div>
      <h3>Gain advantage with Nurl</h3>
      <p>
        Nurl is powered by our advanced engine, to help you run and play games
        like never before.
      </p>
    </div>

    <ul class="card-container">
      <Card
        question="Help me plan my next game session."
        response="Of course! What game system and edition are you using?"
        description="Get help planning your next session, campaign, or one-shot."
      />
      <Card
        question="How do I use the Ice Knife spell?"
        response="Oh, the Ice Knife! What a chilling way to attack your enemies (literally). Let me help you with that."
        description="Get help with rules and mechanics."
      />
      <Card
        question="Summarize tonight's session."
        response="Of course! I'd be happy to help with that."
        description="Get automated game summaries."
      />
    </ul>
  </section>

  <section class="section-spotlight-notes">
    <div>
      <h3>Super-powered Notes</h3>
      <p>Nurl empowers your group notes like never before.</p>
    </div>
    <ul class="card-container">
      <Note
        imgProps={SummarizeNote}
        alt="Summarize note preview"
        description="Summarize notes when you need to catch up."
      />
      <Note
        imgProps={GMNotes}
        alt="Location based tracking preview"
        description="Location based tracking that works alongside your widgets."
      />
      <Note
        imgProps={{ ...CharacterTracking }}
        alt="Automagically created character dictionaries."
        description="Automagically created character dictionaries in one click."
        style="scale: 0.7;left: -163px;position: absolute;object-fit: scale-down;top: -17rem;"
      />
    </ul>
  </section>

  <section class="section-spotlight-notes">
    <div>
      <h3>Multigroup Campaigns</h3>
      <p>Nurl helps your epics to actually be "epic".</p>
    </div>
    <ul class="card-container">
      <Note
        imgProps={Timer}
        alt="Timer widget preview"
        description="Timer widget to keep everyone on track."
        style="scale: 0.7;left: -135px;position: absolute;object-fit: scale-down;top: -5rem;"
      />
      <Note
        imgProps={GroupData}
        alt="Group data preview"
        description="A easy way to keep track of your groups."
        style="scale: 0.6;left: -14rem;position: absolute;object-fit: scale-down;top: -6.5rem;"
      />
      <Note
        imgProps={PushNotify}
        alt="Push notification preview"
        description="Push notifications to keep everyone in the loop."
        style="scale: 0.7;left: -135px;position: absolute;object-fit: scale-down;top: -5rem;"
      />
    </ul>
  </section>

  <section class="section spotlight section-player-form">
    <div class="section-player-form_dice">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        style="-webkit-print-color-adjust:exact"
        viewBox="0 0 100 100"
        ><defs
          ><clipPath id="a" class="frame-clip-def frame-clip"
            ><rect width="100" height="100" rx="0" ry="0"></rect></clipPath
          ></defs
        ><g clip-path="url(#a)"
          ><g class="fills"
            ><rect
              width="100"
              height="100"
              class="frame-background"
              rx="0"
              ry="0"></rect></g
          ><g
            xmlns:xlink="http://www.w3.org/1999/xlink"
            xml:space="preserve"
            class="frame-children"
            style="fill:#000"
            ><g style="fill:#000"
              ><path
                d="M80.981 27.804 55.337 12.997c-2.357-1.362-6.211-1.362-8.569 0L21.125 27.804c-2.358 1.361-4.286 4.701-4.286 7.42v29.611c0 2.722 1.928 6.059 4.286 7.42l25.643 14.807c2.358 1.362 6.212 1.362 8.569 0l25.644-14.807c2.357-1.361 4.286-4.701 4.286-7.42V35.227c-.003-2.722-1.929-6.062-4.286-7.423Zm-34.963 1.803L31.466 54.971c-.474.744-.876.784-1.245.741-.846-.1-.989-.867-.989-.867L22.4 35.088c-.512-1.819 1.208-2.258 1.208-2.258l21.052-4.691s.843-.136 1.285.213c.266.205.418.627.073 1.255Zm2.998-7.484-11.809 2.633s-.867.262-.966-.236c-.1-.498.597-.846.597-.846l11.657-6.64s1.876-.87 2.025.919l.229 2.036c0-.004.096 1.679-1.733 2.134Z"
                class="fills"></path></g
            ></g
          ></g
        >
        <style>
          path {
            fill: #00f;
          }
        </style>
      </svg>
    </div>
    <PlayerForm client:only />
  </section>

  <section class="section-spotlight final-cta">
    <div class="container">
      <h3 class="center">Get the app that all Tabletop games deserve.</h3>
      <EarlyAccessForm />
    </div>
  </section>
</Layout>

<style>
  main {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-bottom: 4rem;
  }

  main p {
    font-size: 1.3rem !important;
  }

  section {
    padding-bottom: 2rem;
    padding-inline-start: 1rem;
    padding-inline-end: 1rem;
    padding-top: 2rem;
  }

  section p {
    font-size: 1.125rem;
    line-height: 1.5;
    margin-bottom: 1.5rem;
  }

  h1 {
    color: var(--n00bYellow);
  }

  h1,
  h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }

  h3 {
    color: var(--n00bYellow);
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  picture,
  img {
    display: block;
    height: auto;
    margin: 0 auto;
    max-width: 80ch;
    width: 100%;
  }

  section[class*="section-spotlight"] {
    border-bottom: 1px dashed var(--manaBlue);
  }
  section[class*="section-spotlight"] h3 {
    color: var(--fourXBlue);
  }
  section[class*="section-spotlight"] p {
    font-size: 1;
    margin-bottom: 1rem;
  }
  section[class*="section-spotlight"] strong {
    font-weight: 700;
  }
  section[class*="section-spotlight"] ul {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 0 auto;
    padding-top: 2rem;
  }

  .hide {
    display: none;
  }

  .center {
    text-align: center;
  }

  .container {
    margin: 0 auto;
    max-width: 80ch;
  }

  .feature-section {
    padding-bottom: 0;
    padding-top: 3rem;
  }
  .feature-section p {
    font-size: 1.5rem;
    padding-bottom: 2rem;
  }
  .feature-section small {
    display: block;
    padding-top: 2rem;
    max-width: 60ch;
  }

  .section-logos {
    background-color: var(--oneUpPink);
    color: var(--tpkBlack);
    padding-bottom: 2rem;
    padding-top: 2rem;
    text-align: center;
  }
  .section-logos ul {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    list-style: none;
    margin: 0 auto;
    max-width: 80ch;
  }
  .section-logos li {
    flex: 1 1 100%;
    max-width: 23ch;
  }
  .section-logos li.pathfinder {
    max-width: 15ch;
  }
  .section-logos li.vampire {
    max-width: 15ch;
  }
  .section-logos li.shadowrun {
    max-width: 5ch;
  }
  .section-logos li.critical-role {
    max-width: 7ch;
  }

  .section-customer-quotes {
    background-color: var(--tpkBlack);
    color: var(--wizardWhite);
    padding-bottom: 2rem;
    padding-top: 2rem;
  }
  .section-customer-quotes ul {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    margin: 0 auto;
    padding-top: 2rem;
    padding-bottom: 2rem;
    list-style: none;
  }

  .section-spotlight-nuro,
  .section-spotlight-notes {
    background-color: var(--wizardWhite);
    color: var(--tpkBlack);
    padding-bottom: 2rem;
    padding-top: 2rem;
  }

  .section-intuitive {
    background-color: var(--tpkBlack);
    border-bottom: none !important;
  }
  .section-intuitive h3 {
    color: var(--manaBlue) !important;
  }
  .section-intuitive picture {
    border-radius: 0.5rem;
    margin-top: 2rem;
    overflow: hidden;
  }
  .section-intuitive small {
    display: block;
    margin-top: 1rem;
  }

  .headline-support {
    font-size: 1.3rem;
  }

  .dashboard-wrapper {
    margin: 0 auto;
    text-align: center;
    width: 100%;
  }

  .dashboard-wrapper > p {
    font-size: 1.125rem;
    margin-top: 2rem;
  }

  .section-change-play {
    background-color: var(--wizardWhite);
    color: var(--tpkBlack);
    padding-inline-start: 2.3rem;
    padding-inline-end: 2.3rem;
  }

  .section-change-play h3 {
    color: var(--fourXBlue);
  }

  .section-player-form {
    background-color: var(--n00bYellow) !important;
    padding-top: 3rem;
    padding-bottom: 6rem;
  }
  .section-player-form_dice {
    margin: 0 auto 2rem auto;
    width: 33%;
  }

  .final-cta {
    border-bottom: none !important;
    padding-bottom: 3rem;
    padding-top: 3rem;
  }
  .final-cta h3 {
    color: var(--n00bYellow) !important;
  }
  .final-cta h4 {
    color: var(--wizardWhite) !important;
    margin-bottom: 2rem;
  }

  @media (min-width: 768px) {
    main {
      text-align: center;
      max-width: 120ch !important;
    }

    main p {
      font-size: 1.5rem !important;
    }
    section[class*="section-spotlight"] {
      padding-bottom: 7rem;
      padding-top: 5rem;
    }
    section[class*="section-spotlight"] div {
      padding-inline-start: 4rem;
      max-width: 88ch;
    }
    section[class*="section-spotlight"] h3 {
      font-size: 3rem;
    }
    section[class*="section-spotlight"] p {
      font-size: 1.5;
    }
    section[class*="section-spotlight"] ul {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      gap: 2rem;
      padding-top: 6rem;
    }

    section {
      padding-bottom: 6rem;
      padding-top: 6rem;
    }

    section p {
      font-size: 1.5rem;
    }

    h1 {
      font-size: 3.5rem;
    }

    h2 {
      font-size: 3rem;
    }

    .feature-section h2 {
      font-size: 3.5rem;
    }
    .feature-section p {
      font-size: 1.75rem;
      padding-bottom: 3rem;
      margin: 0 auto;
      max-width: 60ch;
    }
    .feature-section small {
      font-size: 1rem;
    }

    .section-logos ul {
      gap: 2rem;
    }

    .section-customer-quotes ul {
      flex-direction: row;
    }

    .section-intuitive picture {
      margin: 4rem auto;
      max-width: 90%;
    }
    .section-intuitive img {
      max-width: 100%;
    }
    .section-intuitive small {
      font-size: 1.3rem;
      margin: 0 auto;
      text-align: center;
      width: 100%;
    }

    .section-player-form_dice {
      width: 20%;
    }

    .headline-support {
      font-size: 2rem;
    }

    h3 {
      font-size: 2.5rem;
    }

    .final-cta {
      padding-bottom: 7rem !important;
      padding-top: 7rem !important;
    }
    .final-cta h3 {
      margin-bottom: 4rem;
    }
    .final-cta h4 {
      color: var(--wizardWhite) !important;
      margin-bottom: 2rem;
    }
  }
</style>
